In [1]:
import pandas as pd
import numpy as np
import random
import datetime
from string import ascii_lowercase

In [2]:
number_of_rows = 10

data = {
    'idlink_va': [x for x in range(number_of_rows)]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   idlink_va
0          0
1          1
2          2
3          3
4          4
5          5
6          6
7          7
8          8
9          9